/* change the font family */
body {
  font-family: "Courier", monospace;
  margin: 0;
  padding: 0;
  background-color: cadetblue;
}

header {
  background-color: #595d6e;
  color: #fff;
  font-size: 0.5em;
  padding: 10px;
  text-align: center;
  position:fixed;
  width: 100vw;
}
header h1 {
  padding: 0 8% 0 8%;
}

header a {
  color: #fff;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #595d6e;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
footer a {
  color: #fff;
}

#counter {
  font-size: 2em;
  color: #333;
  font-weight: bold;
}

#counter span {
  color: #f00;
}

#increment {
  font-size: 0.6em;
  background-color: greenyellow;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  border-radius: 50%;
  padding: 0.8em 1em;
  border: 0;
}

#increment:hover {
  cursor: pointer;
  background-color: #adff;
}

#decrement {
  font-size: 0.6em;
  background-color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  border: 0;
  border-radius: 50%;
  padding: 0.8em 1em;
}

#decrement:hover {
  cursor: pointer;
  background-color: #ff6347;
}

/* use the flex box to center and create a card */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
}

.card-content {
  padding: 15px;
  border-radius: 10px ;
  border: 1px solid rgba(44, 35, 35, 0.1);
  box-shadow: 0 0 10px rgba(90, 65, 65, 0.1);
  background-color: #ffd1d1b9;
}
.card-content h1 {
  text-align: center;
}
.counter {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

/* Desktop */
@media only screen and (min-width: 960px) {
  .card-content {
    padding: 1.2em;
    font-size: 1.5em;
  }
  #increment {
    font-size: 1em;
    padding: 1.1em 1.5em;
  }
  #decrement {
    font-size: 1em;
    padding: 1.1em 1.5em;
  }
}

@media only screen and (max-width: 959px)  and (min-width: 600px) {
  .card-content {
    padding: 1em;
    font-size: 1.5em;
  }
  #increment {
    font-size: 0.8em;
    padding: 1em 1.2em;
  }
  #decrement {
    font-size: 0.8em;
    padding: 1em 1.2em;
  }
}

/* Mobile */
@media only screen and (max-width: 599px) {
  .card-content {
    padding: 0.9em 1em 0.9em 1em;
    font-size: 1em;
  }
  #increment {
    font-size: 1.2em; 
    padding: 0.8em 1em;
  }
  #decrement {
    font-size: 1.2em;
    padding: 0.8em 1em;
  }
}